
ul{
  list-style-type: none;
  }
  body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://images.pexels.com/photos/417122/pexels-photo-417122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: whitesmoke;
}
/* Grid-styling of main content */
.mainContainer {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 15% 85%;
  grid-gap: 10px;
  padding: 2%;
}

/*
Den här delen blev inte som jag tänkt, sparar det tills vi rättar till senare
.navigation {*/
  /*grid-column: 1/3;*/
  /*grid-row: 1;*/
  /*padding: 2%;*/

/*}*/

.mainContent {
  grid-column: 1/2;
  grid-row: 2;
  padding: 3%;
  background-color: rgba(202, 202, 202, 0.5);
  border-radius: 10px;
}

.sidebar {
  grid-column: 2/3;
  grid-row: 2;
  padding: 3%;
  background-color: rgba(202, 202, 202, 0.5);
  border-radius: 10px;
}

/* breadcrumb-style */
.crumb-wrapper {
  display: flex;
}

.breadcrumbs {
  margin-top: 5px;
}

.crumbs, .home {
  font-size: 1.3em;
  grid-column: 1;
  grid-row: 1;
  padding: 5px;
}

.fileGrid{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr 1fr;
}

.fa, .far, .fas {
  display: inline;
}

.fa-folder{
  margin-right: 10px;
}
li span{
  display:block;
  margin-top: 5px;
}
.fa-info-circle .fileMetadata{
  font-size: 9px;
  opacity: 0;
}
.fa-info-circle:hover .fileMetadata{
 opacity: 1;
}